.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}


/*=============== ADA Complaince styling ===================*/
#skipToContent {
  position: fixed;
  z-index: 0;
  top: 10px;
  left: 10px;
  opacity: 0;
  &:focus {
    opacity: 1;
    z-index: 99999;
  }
}

.social-wrap a,
a[class*="sh-ico-"],
.sh-ph,
.sh-email,
.site-nav a {
    &:focus:not(:hover):not(:active) {
      outline-offset: -2px;
    }
    &.tse-remove-border {
      &:focus:not(:hover):not(:active) {
        outline: none;
        outline-offset: 0;
      }
    }
}

.nonlink {
  cursor: default;
  pointer-events: auto;
  @include mq(large) {
    pointer-events: none;
  }
}

.lightbox {
  display: inline-block;
  &.tse-remove-border {
    outline: none !important;
    &:focus {
      outline: none !important;
    }
  }
}

.tse-remove-border {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}


/*=============== Site Header ===============*/
.site-header-wrap {
  background-image:url(img/bg-site-intro.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat:no-repeat;
}
.site-header {
  
}

.sh-sticky-wrap {
  @include mq(large) {
    height: $nav-height;
    &.stuck {
      .site-nav-container {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
      }
    }
  }
}

.sh-utility-nav {
 
  .social-wrap {
    width: 15em;
    display: none;
  }
  @include mq(medium) {
    text-align: right;
    float: right;
    .social-wrap {
      display: inline-block;
    }
  }
}

.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  //background-color:red;
  text-decoration: none;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  margin: 0;
  i {
    font-style: normal;
    //display:none;
  }
  @include mq(medium) {
    font-size: $medium-font-size;
    i {
      //display:inline;
    }
  }
}

.sh-ico-search {
  background-image: url(img/ico-search.svg);
  @extend %sh-ico;
}

.sh-ico-menu {
  background-image: url(img/ico-nav.svg);
  @extend %sh-ico;
  @include mq(medium) {
    display: none;
  }
}

/*=============== Site Intro ===============*/
.site-intro {
  text-align:center;
  .inner-wrap {
    padding-top:$baseline*20;
    padding-bottom:$baseline*20;
  }
}


.si-slider{
  &.slick-slider{
    margin-bottom: 0 !important;
  }
  .slick-prev, .slick-next{
    display: none !important;
  }
  .slick-slide{
    overflow: hidden;
  }
  .slick-current{
    .si-bg-img{
      transform: scale(1);
    }
  }
  .slick-dots{
    bottom: em(25);
    position: absolute;  
    left:0;
    right: 0;
    margin: auto;
    text-align: center;
    li{
      margin: 0;
      margin-right: em(14);
      width: 12px;
      height: 12px; 
      display: inline-block;   
      outline: none;
      &:focus{
        outline:none;
      }  
      button{
        width: 12px;
        height: 12px;  
        background-color: transparent;
        border: 1px solid $base-link-color;
        border-radius: 50%;
        outline: none;
        font-size: 0;
        outline: none;
        &:before, &:after{
          display:none;
        }         
        &:focus{
          outline: none;
        }
        &:focus:not(:hover):not(:active) {
          outline: 2px dashed $base-font-color;;
          outline-offset: 2px;
        }
      }
      &.slick-active{
        button{
          background-color: $base-link-color;
          border: 1px solid $base-link-color;
          &:focus{
            outline: none;
          }
          &:focus:not(:hover):not(:active) {
            outline: 2px dashed $base-font-color;;
            outline-offset: 2px;
          }
        }
      }
    }    
  }
}

.si-item{
  position: relative;
}

.si-bg-img{
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.si-content{
  position: relative;
}





/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  @include flex(1 0 auto); //sticky footer
}

.site-content-primary {}

.site-content-secondary {}

.si-header {
  color: $green;
  span {
    display: block;
  }
}

/*============ Sitemap Page styling ============*/
.sitemap-menu .sub-menu {
    padding-left: em(30);
    display: block !important;
}

/*=============== Site Footer ===============*/

.site-footer {
  background-color: $blue;
  text-align: center;
  color: $white;
}

.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}


/*=============== Search ===============*/
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  vertical-align: middle;
  @include mq(large) {
    width: 92%;
  }
}

.search-cell2 {
  display: table-cell;
  width: em(60);
  border: 0;
  vertical-align: middle;
  @include mq(large) {
    width: 6%;
  }
}

.search-cell3 {
  display: table-cell;
  vertical-align: middle;
  @include mq(large) {
    width: 3%;
    text-align: center;
  }
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
  &:focus{
    border:0;
    box-shadow: none !important;
  }
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important;
  &:hover{
    border:0 !important;
  }
  &:focus{
    outline:none;
  }
}


@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $base-color;
  height: 4em;
  margin-top: -4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left:0;
  right:0;
  z-index: -1;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
    z-index: 10000;
  }
  .inner-wrap {
    padding: em(13) 1.5em;
  }

}

.search-exit {
 img{
    width: em(19);
  }

  @include mq(large) {
    margin-bottom: 0px;
  }
}


/*=============== Read More ===============*/

.main-content {
  display: block;
  overflow: hidden;
  position: relative;
  @include mq(medium) {
    display: inline;
  }
}
@include mq(small) {
  .height {
    max-height: em(250);
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .heightAuto {
    max-height: em(5000);
    &:before {
      display: none;
    }
  }
}

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: $blue;
  padding-bottom: em(10);
  @include mq(medium) {
    display: none;
  }
}

/*======== Solution Module =========*/
.sm-tabs-wrap{
  .slick-prev{
    width: 50px;
    height: 75px;
    background-color: $green;
    background-image: url(img/ico-arrowleft.png);
    background-size: 10px 16px;
    background-position: center;
    top: 0;
    left: 0;
    z-index: 1;
    transform: none;
    background-repeat: no-repeat;
    &:before{
      display:none;
    }
    &:after{
      display: none;
    }
    &:focus,&:hover{
      background-color: $green;
      background-image: url(img/ico-arrowleft.png);
      background-size: 10px 16px;
      background-repeat: no-repeat;
      transform: none;
      background-position: center;
    }
    &:focus:not(:hover):not(:active) {
    outline: 2px dashed $base-font-color;
    outline-offset: -2px;
    }
  }
  .slick-next{
    width: 50px;
    height: 75px;
    background-color: $green;
    background-image: url(img/ico-arrowleft.png);
    background-size: 10px 16px;
    background-position: center;
    top: 0;
    right: 0;
    z-index: 1;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    &:before{
      display:none;
    }
    &:after{
      display: none;
    }
    &:focus,&:hover{
      background-color: $green;
      background-image: url(img/ico-arrowleft.png);
      background-size: 10px 16px;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      background-position: center;
    }
    &:focus:not(:hover):not(:active) {
    outline: 2px dashed $base-font-color;
    outline-offset: -2px;
    }
  }

  .slick-list {
    width: calc(100% - 102px);
    margin: auto;
  }

  .slick-slide{
    border-right:1px solid $white;
    border-left: 1px solid $white;
  }
  @include mq(large){
    .slick-current{
      .sm-tab-title{
        background-color: $light-gray;
        span{
          color: $blue;
        }
      }
    }
    .slick-slide{
      border-left:0;
    }
  }
}

.sm-tab-title{
  text-align: center;
  cursor: pointer;
  background-color: $blue;
  padding:em(12) em(10);
  height:em(74);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  span{
    font-size:22px;
    line-height: em(24,20);
    font-weight: 500;
    color: $white;
  }
}

.sm-wrap{
  &.slick-slider{
    margin-bottom: 0 !important;
  }
  .slick-dots{
    bottom: 0;
    li{
      width: 12px;
      height: 12px;
      border-radius: 50%;      
      margin: 0;
      margin: em(3);
      button{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $base-link-color;
        padding: 0;
        &:before{
          display:none;
        }
        &:after{
          display: none;
        }
      }
      &.slick-active{
        background-color: $base-link-color;
      }
    }
  }
}

.sm-content{
  text-align: center;
  @include mq(large){
    text-align: left;
    @include display(flex);
    @include align-items(center);
    margin: auto;
  }
}

.sm-img{
  overflow: hidden;
  img{
    margin: auto;
  }
  @include mq(large){
    width: em(520);
    img{
    margin: auto;
    display: block;
    width: 100%;
    }
  }
}

.sm-txt{
  @include mq(large){
    width: calc(100% - 32.5em);
    padding-left: em(25);
    padding-right: em(25);
  }
}


/*======== Industries We Served Module =========*/

.ism-heading{
  text-align: center;
}

.ism-tabs{
  .accordion-tabs{
    .tab-link { 
      font-size: em(20);
      background-image: none;
      background-image: url(img/ico-plus.svg);
      background-repeat: no-repeat;
      background-position: 95% center;
      &.is-active {
        background-image: url(img/ico-minus.svg);
      }
    }
    @include mq(medium){
      .tab-link {
        width: 33.33%;
        background-image: none;
        text-align: center;
        &.is-active {
          background-image: none;
        }
      }
    }
  }
}

/*======== Capabilities Module =========*/

.cm-item {
  display: inline-block;
  width: 100%;
  line-height: 0;
  height: em(360);
  position: relative;
  overflow: hidden;
  border-radius: 9px;
  max-width: em(500);
  margin: 0 auto;
  &:hover{
    .cm-text{
      display: block;
      opacity: 1;
    }
    .cm-btn{
      display: inline-block;
      opacity: 1;
    }
    .cm-overlay {
      height: 100%;
      > span {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin:0 auto;
      }
    }
  }
  &:focus:not(:hover):not(:active) {
    .cm-text{
      display: block;
      opacity: 1;
    }
    .cm-btn{
      display: inline-block;
      opacity: 1;
    }
    .cm-overlay {
      height: 100%;
      > span {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin:0 auto;
      }
    }
  }
}
.cm-img {
  position: relative;
  display: block;
  height: em(360);
  img {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
  }
}
.cm-wrap {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center); 
  margin-left: em(-12);
  margin-right: em(-12); 
  > div {
    max-width: em(360);
    width: 100%;
    padding-left: em(12);
    padding-right: em(12);
    text-align: center;
    margin-bottom: em(24);
    @include mq(large) {
      max-width: inherit;
      float: left;
      width: 25%;
    }

  }
}
.cm-overlay {
  background: $blue;
  padding: em(10);
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: em(51);
  text-align: center;
  @include transition(height 0.3s ease-in-out 0s);
  > span {
    @include transition(height 0.3s ease-in-out 0s);
  }
}
.cm-title {
  font-size: em(22);
  line-height: em(28,22);
  color: $white;
  font-weight: 700;
  display: block;
  margin:0;
}
.cm-text {
  font-family: $header-font-family;
  font-size: em(18);
  color: $white;
  line-height: em(28,18);
  display: none;
  opacity: 0;
  margin:0;
  @include transition(opacity 0.3s ease-in-out 0s);
}

.cm-btn{
  @include transition(opacity 0.3s ease-in-out 0s);
  display: none;
  opacity: 0;
  margin:0;
}



/*======== Multiple Item Slider =========*/

.mis-slider {
  margin: 0 auto;
  padding: 0 em(20);
  @include mq(xlarge) {
    padding: 0;
  }
  .slick-track {
  }
  .slick-slide {
    padding: em(5) em(8.5);
    outline: none !important;
  }
  .slick-arrow {
    font-size: em(18);
    height:em(29,18);
    width:em(18,18);
    top: 44.5%;
    transform: none;
    background-image:url(img/ico-slider-arrow.svg);         
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain; 
    &:before {
      display: none;
    }
    &:hover, &:focus {
      background-image:url(img/ico-slider-arrow.svg);         
      background-repeat: no-repeat;
      background-position: center center; 
      background-size: contain;
    }

    &.slick-prev {
      @include transform(rotate(180deg));
      left: 0;
      @include mq(xlarge) {
        left: em(-27,18);
      }
    }

    &.slick-next {
      right: 0;
      @include mq(xlarge) {
        right: em(-27,18);
      }
    }
  }
}
.mis-item {
  width: 100%;
  display: inline-block;
  line-height: 0;
  text-decoration: none;
  text-align: center;
  &:hover, &:focus {
    .mis-title {
      color: $black;
    }
    .mis-image {
      figure {
        @include transform(scale(1.1));
      }
    }
  }
  &:focus:not(:hover):not(:active) {
    outline-offset: 0px;
  }
}
.mis-image {
  display: block;
  overflow: hidden;
  box-shadow: 0px 2px 3px rgba($black,0.3);
  figure {
    @include transition(all 0.3s ease-in-out);
    @include transform(scale(1));
  }
  img {
    width: 100%;
  }
}
.mis-title {
  display: block;
  font-size: em(18);
  line-height: em(30,18);
  font-weight: 600;
  margin-top: em(11,18);
  padding: 0 em(32,18);
  @include transition(all 0.3s ease-in-out);
}

/*======== Accordion Opening on click & focus =========*/
.aof-item{
  margin-bottom: $baseline*3;
}
.aof-title-wrap{
  background-color: $blue;
  font-size: $medium-font-size;
  margin:0;
  position: relative;
  &:after {
    content: "";
    background-image: url(img/ico-plus.svg);
    position: absolute;
    right: em(16,21);
    width: em(13,21);
    height: em(13,21);
    background-size:em(13,21) em(13,21);
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
  }
  a{
    display: block;
    color: $white;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
    padding: em(25,21);
    &:focus:not(:hover):not(:active) {
      outline-offset: -2px;
    }
  }
  &.active{
    background-color: $green;
    &:after {
      background-image: url(img/ico-minus.svg);
      width: em(13,21);
      height: em(2,21);
      background-size:em(13,21) em(2,21);
    }
  }
}

.aof-content {
  display: none;
  background-color: $light-gray;
  padding: $base-spacing $gutter;
  position: relative;
}

/*======== Buckets Hover/Focus =========*/

.bhf-wrap{
  @include mq(large) {
    @include display(flex);
  }
}

.bhf-item{
  width: 100%;
  display: block;
  height: em(360);
  text-decoration: none;
  position: relative;
  @include transition(all .4s ease-in-out);
  &:focus:not(:hover):not(:active) {
    outline-offset: -2px;
  }
  @include mq(large) {
    width: 33.33%;
    flex-grow: 1;
    .bhf-desc{
      display: none;
      visibility: hidden;
      opacity: 0;
      @include transition(all .4s ease-in-out);
    }

    .bhf-btn{
      display: none;
      visibility: hidden;
      opacity: 0;
      @include transition(all .4s ease-in-out);
    }
    &.active-col{
      width: 60%;
      .bhf-desc{
        display: block;
        visibility: visible;
        opacity: 1;
      }

      .bhf-btn{
        display: inline-block;
        visibility: visible;
        opacity: 1;
      }
    }
    &.deactive-col{
      width: 20%;
    }
  }
}

.bhf-main{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin:0 auto;
  text-align: center;
  width: 100%;
  padding: $base-spacing $gutter;
}

.bhf-heading ,.bhf-desc{
  color: $base-font-color;
}